
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F3E9;
}

textarea {
    width: 50%;
    height: 40%;
    margin: 50px auto;
    padding: 1rem;
    border: none;
    text-align: justify;
    border-radius: 5px;
    background-color: #EFE3D4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #EF233C;
    font-size: 3rem;
}
p{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #F7F3E9;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #EFE3D4;
}

.fas {
    font-weight: 600;
    font-size: 3rem;
    min-width: 4rem;
}

button {
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.fa-trash-alt {
    color: #FF453A;
}

footer {
    margin-top: 63px;
}

@media (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }

   
    textarea {
        width: 80%;
    }
}

@media (max-width: 922px) {
    h1 {
        font-size: 2rem;
    }

    textarea {
        width: 80%;
    }
}
